body {
  background-color: black;
  margin: 0;
}
#home-photo-wrap {
	background: url(FinalPics/evil-genius-wideshot.jpg);
	background-size: 2016px;
	height: 700px;
	background-repeat: no-repeat;
}

#beers-photo-wrap {
  background: url(FinalPics/Evil-Genius-Taps.jpg);
  background-size: 2516px;
  height: 1000px;
  background-repeat: no-repeat;
}

#our-story-photo-wrap {
  background: url(FinalPics/evil_genius_our_story.jpg);
  background-size: 1716px;
  height: 1200px;
  background-repeat: no-repeat;
}

.navbar-inverse ul {
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 40em;
    margin-right: 1em;
    padding: 0em;
    overflow: hidden;
}

li {
  float: left;
  margin: 0px 75px;
}

li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 29px;
  color: white;
  text-shadow: 2em black;
}

.logo-image {
	background: url(FinalPics/evil-genius-beer-co.jpg);
	background-size: 100%;
	width: 400px;
	height: 400px;
  	margin-left: 3em;
  	padding: 3em, 0, 1em, 3em;
  	border: 2px solid black;
  	border-radius: 100%;
  }

  #text-container {
  	background-color: white;
  	background-size: 2016px;
  	height: auto;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    text-align: center;
  }

/*#blue-container {
  background-color: #000066;
  background-size: 2016px;
  height: 100px;
  border: solid .5em black;
  margin-bottom: 0;
  position: relative;
}
*/
.hours {
  padding: 4em 0 4em 0;
}
.hours li {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 29em;
  padding: 0;
  font-family: arial black;
}

.purple, #purple-panel, .she, #she-panel, .ma, #ma-panel, .lamp, #lamp-panel, .turtle, #turtle-panel, .stacys-mom, #stacys-mom-panel {
  padding: 5px;
  text-align: center;
  background-color: black;
  color: white;
  border: solid 1px black;
}

#purple-panel, #she-panel, #ma-panel, #lamp-panel, #turtle-panel, #stacys-mom-panel {
  display: none;
}

#story-box {
  float: left;
  width: 700px;
  height: 300px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
  padding: 0 0 2em 0;
  margin: 0 0 0 1em;
  font-family: tahoma;
}

#iframe {
  float: right;
  margin: 0 1em 0 0 ;
}

footer {
    width: 1480px;
    height: 74px;
    padding: 1em;
    margin:  0;
    color: white;
    background-color: black;
    clear: left;
    text-align: justify;
}
footer li {
  list-style-type: none;
}
footer li #address {
  color: white;
  padding: 0;
  margin: 0;
}


li a:hover {
    background-color: #111;
}
.logo-image:hover {
    cursor: hand;
}